.wholesale {

  .wrapper {
    position: relative;
    text-align: center;
  }

  &__image {
    margin-left: auto;
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    font-size: 22px;
    line-height: 1.35;
    margin-bottom: 48px;
    font-weight: 300;

    @media screen and (min-width: 1024px) {
      font-size: 26px;
    }
  }

  &__form {

    background-color: #0F6B8B;
    color: #fff;

    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    @media screen and (min-width: 1024px) {
      position: absolute;
      left: 0;
      top: 50%;
      width: 50%;
      transform: translate(80px,-50%);
      padding: 129px 71px;
    }

    &:before {
      content: "%";
      display: block;
      position: absolute;
      left: -40px;
      bottom: -80px;
      font-size: 350px;
      line-height: 1;
      opacity: 0.1;
      font-weight: 700;
    }
  }

  &__field {
    margin-bottom: 24px;
    max-width: 295px;
    width: 100%;
  }
}